/* Первый экран */
.slider2{
    width: 100%;
    height: 666px;
}

.slider2{
    margin:0 auto;
    position:relative;
    overflow:hidden;
    list-style:none;
    padding:0;
    z-index:1
}

.pag2{
    position:absolute;
    text-align:center;
    -webkit-transition:.3s opacity;-o-transition:.3s opacity;transition:.3s opacity;
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
    z-index:10
}

.swiper-wrapper{
    width: 15%;
    height: 100%;
    transform: none;
}

.swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: flex-start;
}

.swiper-pagination-bullet {
    width: 17px;
    height: 17px;
    display: inline-block;
    border-radius: 100%;
    border: 1px solid #acacac;
    opacity: 1;
    background: transparent;
}

.swiper-pagination-bullet-active{
    display: inline-block;
    border-radius: 100%;
    background: transparent;
}

.swiper-pagination-bullet-active:after {
    content: "";
    display: block;
    margin: 5px;
    border-radius: 100%;
    background: #acacac;
    width: 5px;
    height: 5px;
    border: 1px solid #ffffff;
}

.swiper-container-vertical>.swiper-pagination-bullets {
    top: 7%;
}

.purchase{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    background: #f1f1f1;
    padding-top: 3.5%;
    margin-bottom:  10.5%;
    color: #1a1a1a;
    font-weight: 300;
}

.purchase__content{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.purchase__img {
    width: 100%;
    height: 666px;
}

.purchase__way{
    margin-bottom: 3%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: 300;
}

.purchase__way a{
    font-size: 20px;
    color: #1a1a1a;
}

.purchase__way span {
    color: #acacac;
}

.purchase__description{
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.purchase__rating{
    text-align: center;
    color: #acacac;
    font-size: 35px;
}

.purchase__rating span{
    display: flex;
    flex-direction: column;
    font-size: 11px;
}

.purchase__slider{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.purchase__rating{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.description__title{
    text-transform: uppercase;
    margin-bottom: 5%;
    font-weight: 500;
 }

.description__text{
    font-size: 20px;
    font-weight: 300;
}

.description__item{
    margin-bottom: 4%;
}

.description__item ul{
    display: flex;
    flex-direction: column;
}

.description__item:last-child{
    margin-bottom: 6.5%;
}

.description__price{
    font-size: 36px;
    margin-bottom: 10.5%;
}

.description__price span{
    font-weight: 500;
}

.description__btns{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.description__check{
    outline: none;
    padding: 0 30px;
    width: 55%;
    height: 80px;
    border: 1px solid #acacac;
    color: #acacac;
    transition: 0.4s;
}

.description__button{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    height: 80px;
    background: #7fe7eb;
    border: 0;
    color:#ffffff;
    transform:translate(0,0);
    -webkit-transition:all .6s ease-in-out;
    transition:all .6s ease-in-out;
    overflow:hidden;
}

.description__button:before{
    content:'';
    position:absolute;
    top:-150px;
    margin:auto;
    display:block;
    border-radius:50%;
    width:200px;
    height:300px;
    left:-75px;
    -webkit-transition:box-shadow .6s ease-in-out;
    transition:box-shadow .6s ease-in-out;
    z-index:-1;
}

.description__button:hover:before{
    box-shadow:inset 0 0 0 150px #ffffff;
}

/* Второй экран */
.info-sofa{
    background: #f1f1f1;
    color: #1a1a1a;
    font-weight: 400;
    margin-bottom: 11.7%;
}

.black-sofa{
    display: flex;
    justify-content: space-between;
}

.black-sofa-left{
    width: 80%;
}

.black-sofa-left__title{
    margin-bottom: 5%;
}

.black-sofa-left__text{
    font-size: 20px;
    text-align: justify;
}

.black-sofa-left__text p{
    margin-bottom: 2.5%;
}

.black-sofa-left__text p:last-child{
    margin-bottom: 0;
}

.black-sofa-right{
    width: 15%;
    color: #acacac;
}

.black-sofa-right__box{
    margin-bottom: 12%;
}

.black-sofa-right__text span{
    color: #1a1a1a;
    display: block;
    margin-bottom: 12%;
}

.black-sofa-right__text{
    color: #acacac;
}

/* Третий экран */
.gallery-sofa{
    background: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8.5%;
}

.gallery-sofa__item{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1%;
}

.furniture-sofa{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 32%;
    position: relative;
}

.furniture-sofa__img img{
    width: 100%;
}

.furniture-sofa__control{
    width: 100%;
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    opacity: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.furniture-sofa__control:hover{
    opacity: 1;
    background: rgba(103, 179, 188, 0.6);
    transition: 0.4s;
}

.furniture-sofa__title{
    font-size: 22px;
    padding-top: 25%;
    font-weight: 400;
    width: 85%;
}

.furniture-sofa__btn{
    margin: 5% 10%;
    color: #000000;
    text-transform: uppercase;
    background: #ffffff;
    width: 39%;
    height: 44.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@media (min-width: 320px) and (max-width: 374px){
    .l-title{
        font-size: 12px;
    }

    .m-title{
        font-size: 8px;
    }

    .s-title{
        font-size: 6px;
    }

    .purchase__description {
        width: 80%;
    }

    .purchase__img {
        width: 90%;
    }

    .purchase__img img {
        width: 90%;
    }

    .purchase__content {
        padding-top: 10%;
    }

    .swiper-slide {
        align-items: flex-end;
        justify-content: center;
    }

    .purchase__way a{
        font-size: 8px;
    }

    .description__text {
        font-size: 8px;
    }

    .description__price {
        font-size: 10px;
    }

    .description__check {
        height: 20px;
    }

    .description__button {
        width: 30%;
        height: 20px;
    }

    .black-sofa-left__text {
        font-size: 8px;
    }

    .black-sofa-right{
        display: none;
    }

    .furniture-sofa__title {
        font-size: 6px;
    }

    .black-sofa-left {
        width: 90%;
    }
}

@media (min-width: 375px) and (max-width: 767px) {

    .l-title{
        font-size: 16px;
    }

    .m-title{
        font-size: 10px;
    }

    .s-title{
        font-size: 8px;
    }

    .purchase__description {
        width: 80%;
    }

    .purchase__img {
        width: 90%;
    }

    .purchase__img img {
        width: 90%;
    }

    .purchase__content {
        padding-top: 10%;
    }

    .swiper-slide {
        align-items: flex-end;
        justify-content: center;
    }

    .purchase__way a{
        font-size: 10px;
    }

    .description__text {
        font-size: 10px;
    }

    .description__price {
        font-size: 18px;
    }

    .description__button img{
        width: 30%;
    }

    .description__check {
        height: 40px;
    }

    .description__button {
        width: 30%;
        height: 40px;
    }

    .black-sofa-left__text {
        font-size: 10px;
    }

    .black-sofa-right{
        display: none;
    }

    .furniture-sofa__title {
        font-size: 8px;
    }

    .black-sofa-left {
        width: 90%;
    }

}

@media (min-width: 768px) and (max-width: 1023px) {

    .l-title{
        font-size: 20px;
    }

    .m-title{
        font-size: 12px;
    }

    .s-title{
        font-size: 10px;
    }

    .purchase__description {
        width: 80%;
    }

    .purchase__img {
        width: 90%;
    }

    .purchase__img img {
        width: 90%;
    }

    .purchase__content {
        padding-top: 10%;
    }

    .swiper-slide {
        align-items: flex-end;
        justify-content: center;
    }

    .purchase__way a{
        font-size: 12px;
    }

    .description__text {
        font-size: 12px;
    }

    .description__price {
        font-size: 20px;
    }

    .description__button img{
        width: 30%;
    }

    .description__check {
        height: 40px;
    }

    .description__button {
        width: 30%;
        height: 40px;
    }

    .black-sofa-left__text {
        font-size: 12px;
    }

    .furniture-sofa__title {
        font-size: 13px;
    }

}

@media (min-width: 1024px) and (max-width: 1119px) {
    .l-title{
        font-size: 25px;
    }

    .m-title{
        font-size: 11px;
    }

    .s-title{
        font-size: 11px;
    }

    .purchase__description {
        width: 50%;
    }

    .slider2 {
        width: 45%;
    }

    .black-sofa-right{
        display: none;
    }

    .black-sofa-left {
        width: 90%;
    }

    .purchase__way a{
        font-size: 11px;
    }

    .description__text {
        font-size: 11px;
    }

    .description__price {
        font-size: 30px;
    }

    .description__check {
        height: 55px;
    }

    .description__button {
        height: 55px;
    }

    .black-sofa-left__text {
        font-size: 11px;
    }

    .furniture-sofa__title {
        font-size: 15px;
    }

}

@media (min-width: 1200px) and (max-width: 1279px) {

    .l-title{
        font-size: 30px;
    }

    .m-title{
        font-size: 11px;
    }

    .s-title{
        font-size: 11px;
    }

    .purchase__description {
        width: 50%;
    }

    .purchase__way a{
        font-size: 11px;
    }

    .description__text {
        font-size: 11px;
    }

    .description__price {
        font-size: 30px;
    }

    .description__check {
        height: 55px;
    }

    .description__button {
        height: 55px;
    }

    .black-sofa-left__text {
        font-size: 11px;
    }

}

@media (min-width: 1280px) and (max-width: 1365px) {

    .l-title{
        font-size: 35px;
    }

    .m-title{
        font-size: 12px;
    }

    .s-title{
        font-size: 12px;
    }

    .purchase__description {
        width: 50%;
    }

    .purchase__way a{
        font-size: 14px;
    }

    .description__text {
        font-size: 14px;
    }

    .description__price {
        font-size: 30px;
    }

    .description__check {
        height: 55px;
    }

    .description__button {
        height: 55px;
    }

    .black-sofa-left__text {
        font-size: 16px;
    }

    .purchase__slider {
        width: 100%;
    }

    .swiper-container-vertical>.swiper-pagination-bullets {
        right: 50px;
    }


}

@media (min-width: 1366px) and (max-width: 1679px) {
    .l-title{
        font-size: 40px;
    }

    .m-title{
        font-size: 16px;
    }

    .s-title{
        font-size: 14px;
    }

    .purchase__way a{
        font-size: 18px;
    }

    .description__text {
        font-size: 18px;
    }

    .description__price {
        font-size: 36px;
    }

    .description__check {
        height: 60px;
    }

    .description__button {
        height: 60px;
    }

    .black-sofa-left__text {
        font-size: 18px;
    }

    .purchase__description {
        width: 65%;
    }

}

