/* Первый экран */
.delivery{
    margin-bottom: 7.5%;
}

.delivery__img img{
    width: 100%;
}

/* Второй экран */
.price{
    color: #1a1a1a;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 6%;
}

.price__content{
    display: flex;
    flex-direction: column;
}

.price__title{
    margin-bottom: 3.5%;
}

.price__text p:first-child{
    margin-bottom: 5%;
}

.price__text p{
    margin-bottom: 2%;
}

.price__text p:last-child{
    margin-bottom: 0;
}

.price__position{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 4.5%;
}

.price__item{
    display: inline-block;
    flex-direction: column;
    text-align: center;
}

.price__position span{
    font-size: 36px;
    line-height: 45px;
}

/* Третий экран */
.conditions{
    color: #1a1a1a;
    font-weight: 300;
    margin-bottom: 8%;
    font-size: 20px;
}

.conditions__content{
    display: flex;
    justify-content: space-between;
}

.conditions-left{
    width: 73%;
    display: flex;
    flex-direction: column;
}

.conditions-left__title{
    margin-bottom: 6.5%;
}

.conditions-left__text{
    margin-bottom: 7.5%;
    text-align: justify;
}

.conditions-left__text p{
    margin-bottom: 3%;
}

.conditions-left__text ol{
    padding-left: 3%;
}

.conditions-left__text span{
    display: block;
    text-indent: 2%;
    margin-bottom: 3%;
}

.conditions-left__bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conditions-left__bottom span{
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    width: 63%;
    margin-bottom: 5%;
    font-weight: 300;
}

.conditions-right{
    width: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conditions-right__logo img{
    margin-bottom: 10%;
}

.conditions-right__text span{
    font-weight: 400;
    display: block;
    color: #5da7aa;
    font-size: 20px;
}

.conditions-right__text{
    color: #acacac;
    margin-bottom: 100%;
}

.conditions-right__box{
    width: 90%;
    color: #acacac;
}

.conditions-right__box img{
    margin-bottom: 14%;
}

.conditions-right__box span{
    display: block;
    color: #1a1a1a;
    margin-bottom: 9%;
}

@media (min-width: 320px) and (max-width: 359px){
    .l-title{
        font-size: 25px;
    }

    .m-title{
        font-size: 10px;
    }

    .s-title{
        font-size: 10px;
    }

    .delivery{
        padding-top: 70px;
    }

    .price__text {
        font-size: 14px;
    }

    .price__position{
        flex-direction: column;
    }

    .price__position span{
        font-size: 15px;
    }

    .conditions__content{
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 14px;
    }

    .conditions-left__text{
        text-align: center;
    }

    .conditions-left__text ol{
        text-align: left;
    }

    .conditions-left, .conditions-right{
        width: 100%;
    }

    .conditions-left__bottom span {
        font-size: 20px;
        width: 100%;
    }

    .btn {
        width: 90px;
        height: 40px;
    }

    .conditions-left__bottom{
        margin-bottom: 10%;
    }

    .conditions-right{
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }

    .conditions-right__text{
        margin-bottom: 0;
    }

    .conditions-right__top, .conditions-right__bottom{
        width: 48%;
    }

    .conditions-right__logo img, .conditions-right__box img{
        width: 70%;
        margin-bottom: 5%;
    }

    .conditions-right__box{
        width: 100%;
    }

    .conditions-right__text span, .conditions-right__box span{
        font-size: 14px;
    }


}

@media (min-width: 360px) and (max-width: 479px){
    .l-title{
        font-size: 25px;
    }

    .m-title{
        font-size: 12px;
    }

    .s-title{
        font-size: 10px;
    }

    .delivery{
        padding-top: 70px;
    }

    .price__text {
        font-size: 14px;
    }

    .price__position{
        flex-direction: column;
    }

    .price__position span{
        font-size: 15px;
    }

    .conditions__content{
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 14px;
    }

    .conditions-left__text{
        text-align: center;
    }

    .conditions-left__text ol{
        text-align: left;
    }

    .conditions-left, .conditions-right{
        width: 100%;
    }

    .conditions-left__bottom span {
        font-size: 20px;
        width: 100%;
    }

    .btn {
        width: 100px;
        height: 50px;
    }

    .conditions-left__bottom{
        margin-bottom: 10%;
    }

    .conditions-right{
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }

    .conditions-right__text{
        margin-bottom: 0;
    }

    .conditions-right__top, .conditions-right__bottom{
        width: 48%;
    }

    .conditions-right__logo img, .conditions-right__box img{
        width: 70%;
        margin-bottom: 5%;
    }

    .conditions-right__box{
        width: 100%;
    }

    .conditions-right__text span, .conditions-right__box span{
        font-size: 14px;
    }


}

@media (min-width: 480px) and (max-width: 767px){
    .l-title{
        font-size: 30px;
    }

    .m-title{
        font-size: 14px;
    }

    .s-title{
        font-size: 12px;
    }

    .delivery{
        padding-top: 70px;
    }

    .price__text {
        font-size: 16px;
    }

    .price__position{
        flex-direction: column;
    }

    .price__position span{
        font-size: 17px;
    }

    .conditions__content{
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 16px;
    }

    .conditions-left__text{
        text-align: center;
    }

    .conditions-left__text ol{
        text-align: left;
    }

    .conditions-left, .conditions-right{
        width: 100%;
    }

    .conditions-left__bottom span {
        font-size: 22px;
        width: 100%;
    }

    .btn {
        width: 100px;
        height: 50px;
    }

    .conditions-left__bottom{
        margin-bottom: 10%;
    }

    .conditions-right{
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }

    .conditions-right__text{
        margin-bottom: 0;
    }

    .conditions-right__top, .conditions-right__bottom{
        width: 48%;
    }

    .conditions-right__logo img, .conditions-right__box img{
        width: 50%;
        margin-bottom: 5%;
    }

    .conditions-right__box{
        width: 100%;
    }

    .conditions-right__text span, .conditions-right__box span{
        font-size: 16px;
    }


}

@media (min-width: 768px) and (max-width: 1024px){
    .l-title{
        font-size: 40px;
    }

    .m-title{
        font-size: 15px;
    }

    .s-title{
        font-size: 12px;
    }

    .delivery{
        padding-top: 70px;
    }

    .price__text {
        font-size: 17px;
    }

    .price__position{
        flex-direction: column;
    }

    .price__position span{
        font-size: 18px;
    }

    .conditions__content{
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 17px;
    }

    .conditions-left__text{
        text-align: center;
    }

    .conditions-left__text ol{
        text-align: left;
    }

    .conditions-left, .conditions-right{
        width: 100%;
    }

    .conditions-left__text{
        margin-bottom: 4%;
    }

    .conditions-left__bottom span {
        font-size: 25px;
        width: 100%;
    }

    .btn {
        width: 150px;
        height: 70px;
    }

    .conditions-left__bottom{
        margin-bottom: 10%;
    }

    .conditions-right{
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }

    .conditions-right__text{
        margin-bottom: 0;
    }

    .conditions-right__top, .conditions-right__bottom{
        width: 48%;
    }

    .conditions-right__logo img, .conditions-right__box img{
        width: 50%;
        margin-bottom: 5%;
    }

    .conditions-right__box span{
        margin-bottom: 5%;
    }

    .conditions-right__box{
        width: 100%;
    }

    .conditions-right__text span, .conditions-right__box span{
        font-size: 17px;
    }


}

@media (min-width: 1280px) and (max-width: 1919px){
    .l-title{
        font-size: 50px;
    }

    .m-title{
        font-size: 15px;
    }

    .s-title{
        font-size: 12px;
    }

    .price__text {
        font-size: 20px;
    }

    .price__position span{
        font-size: 21px;
    }

    .price__text p{
        margin-bottom: 1%;
    }

    .price__text p:first-child, .price__position, .price{
        margin-bottom: 3%;
    }

    .conditions-left__text{
        margin-bottom: 4%;
    }

    .conditions-left__bottom span {
        font-size: 25px;
    }

}






























