/* Пятый экран Футер меню*/
.footer-menu{
    padding: 8% 0;
    background: #1a1a1a;
    font-weight: 300;
}

.footer-menu__items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-menu__item span{
    font-size: 24px;
    display: block;
    text-transform: uppercase;
    border-bottom: 1px solid ;
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 45px;
}

.footer-menu__item{
    display: flex;
    flex-direction: column;
}

.footer-menu__item ul{
    display: flex;
    flex-direction: column;
}

.footer-menu__item li{
    margin-bottom: 4%;
}

.footer-menu__item a:hover{
    border-bottom: 1px solid ;
}

.footer-menu__item:nth-child(1){
    width: 13%;
}

.footer-menu__item:nth-child(2){
    width: 35%;
}

.footer-menu__item:nth-child(3){
    width: 28%;
    margin-right: 0;
}

.footer-menu__content{
    display: flex;
    justify-content: space-between;
}

.footer-menu__item_margin nav{
    margin-bottom: 13%;
}

.footer-menu__elements{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-menu__logo, .footer-menu__logo a:hover{
    margin-bottom: 9%;
    border-bottom: none;
}

.footer-menu__icons{
    width: 40%;
    display: flex;
    justify-content: space-around;
}

.footer-menu__icons a:hover{
    border-bottom: none;
}

.footer-menu__phone {
    font-size: 24px;
}

.footer-menu__phone a:hover{
    border-bottom: none;
}

/* Футер */
.credits{
    padding: 1% 0;
    background: #1f1f1f;
    color: #acacac;
    font-weight: 300;
}

.credit{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 320px) and (max-width: 1024px) {
    .footer-menu{
        display: none;
    }

    .s-title{
        font-size: 12px;
    }

    .credits{
        padding: 10px 0;
    }
}

@media (min-width: 1280px) and (max-width: 1365px){
    .footer-menu__icons {
        width: 30%;
    }
}

@media (min-width: 1366px) and (max-width: 1919px){
    .footer-menu__items span{
        font-size: 16px;
    }

    .footer-menu {
        padding: 2% 0;
    }

    .footer-menu__item span{
        padding-bottom: 15px;
        margin-bottom: 15px;
    }

    .footer-menu__phone{
        font-size: 16px;
    }

    .footer-menu__icons img{
        width: 80%;
    }

    .footer-menu__item_margin nav,.footer-menu__logo, .footer-menu__logo a:hover {
        margin-bottom: 5%;
    }
}


